root = "."
tmp_dir = "/tmp" # ビルド成果物用の一時ディレクトリを絶対パスで指定

[build]
cmd = "go build -o /tmp/main ." # ビルド成果物を /app_tmp/main に出力
bin = "/tmp/main"               # airが実行するバイナリのパス
full_bin = "dlv --listen=:2349 --headless=true --api-version=2 --accept-multiclient exec --continue /tmp/main" # delveが実行するバイナリのパス
include_ext = ["go", "tpl", "tmpl", "html"]
exclude_dir = ["assets", "tmp", "vendor", "frontend/node_modules"]
include_dir = []
exclude_file = []
exclude_regex = ["_test\\.go"]
exclude_unchanged = true
follow_symlink = true
log = "air.log"
delay = 1000 # ms
stop_on_error = true
send_interrupt = false
kill_delay = 500 # ms
args_bin = ["hello", "world"]

[log]
time = false
main = "magenta"
watcher = "cyan"
build = "yellow"
runner = "green"

[misc]
clean_on_exit = true

[screen]
  clear_on_rebuild = false
  keep_scroll = true